#button-control {
    margin-top: 10px;
}

#add-tag {
    margin: 10px;
}

#openTagging {
    margin: 10px;
}

#tags {
    margin: 10px;
}

.tag-box {
    display: flex;
    flex-wrap: wrap;
}

.indexPage {
    margin-top: 10px;
}
