.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#recording{
    margin: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.add-tag{
    margin: 10px;
    display: flex;
}

.tag-box{
    display: flex;
    flex-wrap: wrap;
}

#add-tag {
    margin-left: 5px;
}

.tag-control {
    margin-top: 10px;
}
.tagButton{
    margin: 10px;
    min-width: 40px;
    min-height: 30px;
}

.single-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-time{
    margin: 0;
    font-size: 10px;
}

.tagButton {
    background-color: #4c90af;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
